################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
Back-End/ByWay/appsettings.json
Back-End/ByWay/appsettings.Development.json
/ByWay.Infrastructure/obj
/ByWay.Core/obj
/ByWay.Application/obj
/ByWay
/ByWay.sln
